* {
  box-sizing: border-box;
}
body {
  text-align: center;
}
.text {
  font-size: 25px;
  width: 800px;
  text-shadow: 1px 1px 5px #000;
  box-shadow: 2px 2px 15px 5px #000, inset 2px 2px 15px 1px red;
}
.transform-list {
  display: flex;
  flex-wrap: wrap;
}
.transform-type {
  margin: 0 15px;
}
.card {
  width: 400px;
  /* height: 300px; */
  background: darksalmon;
  border: 1px solid #000;
  /* overflow: hidden; */
  /* margin-bottom: 50px; */
}
.photo {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  /* transition: transform 0.6s ease 1s; */
  transition-property: transform;
  transition-delay: 0.5s;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  display: block;
  transform-origin: 100% 50%;
}
.photo:hover {
}
.card:hover .photo-1 {
  transform: translate(20px, -20px);
}
.card:hover .photo-2 {
  transform: rotate(36deg);
}
.card:hover .photo-3 {
  transform: scale(0.8);
}
.card:hover .photo-4 {
  transform: skew(20deg, 40deg);
}

.test-card {
  width: 500px;
  position: relative;
}
.test-photo {
  width: 100%;
  height: auto;
}
.test-star {
  width: 40px;
  height: 40px;
  position: absolute;
}

.left{
    top: 20px;
    left: 20px;
    transition: transform 2s;
}
.right{
    top: 20px;
    right: 20px;
    transition: transform 5s;
}
.test-button{
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 0.6s;
}
.test-card:hover .test-button{
    opacity: 1;
}
.test-card:hover .left{
    transform: translate(0, 50px);
}
.test-card:hover .right{
    /* transform: translate(-50px, 50px); */
    transform: translate(-50px, 50px) rotate(360deg) ;
}

@keyframes rotate{
    /* from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    } */
    0%{
        transform: translateX(0) rotate(0);
    }
    25%{
        transform: translateX(100%) rotate(90deg);
    }
    50%{
        transform: translate(100%, -100%) rotate(180deg);
    }
    75%{
        transform: translate(0, -100%) rotate(270deg);
    }
    100%{
        transform: translate(0,0) rotate(360deg);
    }
}
.photo-animation{
animation: rotate 3s linear infinite;
}