*{box-sizing: border-box}
section {
  background: blue;
}
.red-text {
  color: red;
}
#start {
  color: aqua;
}

a[href] {
  color: red;
}
a[href]:hover {
  text-decoration: none;
}
a[href="foo"] {
  color: darkblue;
  text-align: center;
}
.square {
  height: 100px;
  width: 100px;
  background: yellow;
  padding: 20px;
  margin: 20px;
  border: 2px solid #000;
}
